.done {
	color: #5cb85c;
}

.in-progress {
	color: #5bc0de;
}

.cancelled {
	color: #d9534f;
}

.todo-item img {
	width: 80%;
	margin: 10px auto;
	border: 10px solid #CCC;
}

.todo-item {
	border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 15px;
}

@media (max-width: 767px) {
	.todo-item img {
		width: 80%;
		max-width: 400px;
	}
}