.done {
	color: #5cb85c;
}

.in-progress {
	color: #5bc0de;
}

.cancelled {
	color: #d9534f;
}

.todo-item img {
	width: 80%;
	margin: 10px auto;
	border: 10px solid #CCC;
}

.todo-item {
	border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 15px;
}

footer {
	color: #fff;
	text-align: center;
	background-color: #000;
	padding: 30px;
}

footer a {
	color: yellow;
	border-bottom: 1px dotted yellow;
}

footer a:hover {
	text-decoration: none;
	color: yellow;
	border-bottom: 1px solid yellow;
}

.task-description {
	position: relative;
	min-height: 150px;
	padding-bottom: 15px;
}

.task-description p {
	margin-right: 115px; 
}

.task-description img {
	transition: 500ms;
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 100px;
}

.task-description img:hover {
	transition: 500ms;
	width: 150px;
	height: 150px;
}

.screenshot {
	width: 90%;
	border: 5px solid #ddd;
	min-width: 300px;
	margin-bottom: 30px;
}

@media (max-width: 450px) {
	.col-xxs-5 {
		width: 41.66%;
	}
	.col-xxs-7 {
		width: 58.33%;
	}
}

@media (max-width: 767px) {
	.todo-item img {
		width: 80%;
		max-width: 400px;
	}
}